<div class="about-container">
  <div id="close-about-modal">X</div>
  <div class="about-content">
    <h1>nanoBlog</h1>
    <div class="portrait">
      <img src="https://mastodon.raykoworld.com/system/accounts/avatars/110/760/484/739/747/780/original/5cacba66c039ea06.png" />
    </div>

    <p>
      Little toy project to expose a super minimal blog, in the form of a log output. 
      If hummans had a logger, this might be how it looks like.
    </p>

    <p>
      Built with Ruby/Sinatra to keep everything super small.
    </p>

    <p>
      By Rayko - 2023
    </p>

    <div class="mastodon-link"><a rel="me" href="https://mastodon.raykoworld.com/@rayko" title="@rayko@raykoworld.com"><img src="/mastodon.png" /></a></div>
  </div>
</div>
