<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>NanoBlog</title>
    <script src="/assets/feeder.js"></script>
    <link href="/assets/style.css" rel="stylesheet">
  </head>

  <body>
    <div id="messages-container"></div>
  </body>

</html>
