<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>NanoBlog Control</title>
    <script src="/assets/api_client.js"></script>
    <script src="/assets/components.js"></script>
    <script src="/assets/log_entry_templates.js"></script>
    <script src="/assets/log_entries.js"></script>
    <script src="/assets/control.js"></script>
    <link href="/assets/control.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div class="login-container">
      <div id="flash-container"></div>

      <div class="form-container">
        <div class="form-title">Login</div>
        <form id="login" class="common-form" action="/control/api/authenticate" method="post">
          <div class="input-group">
            <input type="text" id="user" name="user" placeholder="username">
          </div>

          <div class="input-group">
            <input type="password" id="password" name="password" placeholder="password">
          </div>

          <div class="input-group"><input type="submit" value="Login"></div>
        </form>
      </div>

    </div>
  </body>

</html>
