body {
    font-family: "monospace";
}

.record-list {
    padding: 20px;
}

.record-list pre {
    display: inline;
}

.record-list .record-item {
    padding: 10px;
    background-color: #f9e4a9;
    box-shadow: 4px 3px 4px 0px #d3c09e;
    margin-bottom: 10px;
}

.record-list .record-item:hover {
    background-color: #ddffa8;
}

.action-link.delete {
    padding-left: 10px;
    float: right;
}

.panel {
    margin-bottom: 2em;
    border: 1px solid #e1be59;
    border-radius: 5px;
    padding: 0;
    display: block;
    background-color: #fdf1cf;
    box-shadow: 2px 2px 4px 1px #dbdbdb;
}

.form-container .form-title {
    background-color: #eddbaa;
    padding: 3px 10px 3px 10px;
    text-align: center;
    border-radius: 5px 5px 0 0;
}

.panel .title {
    background-color: #eddbaa;
    padding: 3px 10px 3px 10px;
    text-align: center;
    border-radius: 5px 5px 0 0;
}


.form-container {
    margin-bottom: 2em;
    border: 1px solid #e1be59;
    border-radius: 5px;
    padding: 0;
    display: block;
    background-color: #fdf1cf;
    box-shadow: 2px 2px 4px 1px #dbdbdb;
}



.form-container form {
    padding: 10px;
    border-radius: 0 0 5px 5px;
    text-align: center;
}

form.delete-record-form {
    color: red;
    display: inline;
    padding: 0;
}

form.delete-record-form  .delete-button {
    border: none;
    background-color: transparent;
    color: blue;
    padding: 0;
    font-size: 1em;
    text-decoration: underline;
    cursor: pointer;
}

.template-item form .delete-button {
    border: none;
    background-color: transparent;
    color: blue;
    padding: 0;
    font-size: 1em;
    text-decoration: underline;
    cursor: pointer;
}

form.delete-record-form .delete-button:hover{
    color: red;
}

.record-list {
    list-style: none;
}

.columns {
    display: flex;
}

.columns .column {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width: 49%;
}

form.template-form {
    display: inline;
    padding: 0;
    margin: 0;
}

form.template-form .template-input-box {
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: transparent;
    border-bottom: 1px dotted gray;
    font-family: monospace;
}
