body {
    background-color: black;
    color: lawngreen;
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

pre {
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.critical-level {
    color: red;
}

.error-level {
    color: red;
}

.warn-level {
    color: yellow;
}

.info-level {
    color: lawngreen;
}

.debug-level {
    color: silver;
}

#about-trigger {
    background-color: #171e58;
    position: fixed;
    top: 0;
    left: 0;
    width: 23px;
    height: 23px;
    border-radius: 0px 0px 20px 0px;
    text-align: center;
    border-left: 1px solid #2936a3;
    border-bottom: 1px solid #2936a3;
    color: green;
    cursor: pointer;
}

#about-trigger:hover {
    background-color: #141489;
    box-shadow: 0px 0px 18px 6px #0000ffa6;
}


.hidden {
    display: none !important;
}

#about-info-modal {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0;
    font-family: monospace;
}

.about-container {
    background-color: #101052;
    display: block;
    margin: auto;
    margin-top: 11%;
    box-shadow: 0px 0px 20px 20px #101052;
    min-width: 250px;
    max-width: 500px;
}

.about-container #close-about-modal {
    position: relative;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    background-color: #354635;
    color: gray;
    cursor: pointer;
    z-index: 100;
    border-radius: 4px;
    float: right;
}

.about-container .about-content {
    padding: 5px;
    position: relative;
}

.about-content .portrait {
    position: relative;
    display: block;
    float: left;
    padding: 15px 15px 30px 15px;
    background-color: #cdccc2;
    rotate: -3deg;
    margin-right: 15px;
}

.portrait img {
    width: 100px;
    height: 100px;
}

#close-about-modal:hover {
    background-color: green;
    color: white;
}

.blur {
    filter: blur(5px);
}

.about-content .mastodon-link {
    margin-top: 25px;
    text-align: center;
    display: inline;
}

.about-content .mastodon-link img {
    width: 30px;
    height: 30px;
    border-radius: 6px 6px 6px 6px;
}

.about-content .mastodon-link img:hover {
    box-shadow: 0px 0px 5px 5px #3088d494;
}
